body{
    margin:0;
    background-image:url("2024-02-08 133759.png");
    background-repeat:repeat-x;
}
h1{
    font-size:65px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
text-align:center;
}
h1{
    font-size: 65px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
}
h4{
    font-size:50px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
text-align:center;
}
h5{
    font-size:35px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
text-align:center;
align-items:space-around;
}
H3{
    font-size:40px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
text-align:space-between;
}
H3{
    font-size:40px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
text-align:center;
}
p{
    font-size:35px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
}
h2{
    font-size:35px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
text-align:center;
align-items:flex-start;
}
h2{
    font-size:35px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    text-align:center;
    align-items:flex-end;
}
p {
    text-align: center;
  }
  p.solid{
    border-style:solid;
  }
  img{ width:100%;
    height:auto;
  }
.container{
    position:absolute;
}
.center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
#example1 {
    border: 1px solid black;
    padding: -2px;
    background: url( img/Screenshot140214.png);
    background-repeat: no-repeat;
    background-size: contain;
  }